<nav class="nav" role="navigation">
    <a class="site-branding" asp-controller="Home" asp-action="Index">
        <partial name="_logoView" />
    </a>
    <ul class="nav__list">
        <li class="nav__item"><a class="nav__link link--gradient link--border-hover" asp-controller="Home" asp-action="Index" asp-fragment="courses">Kurzy</a></li>
        <li class="nav__item"><a class="nav__link link--gradient link--border-hover" asp-controller="Blog" asp-action="Index">Blog</a></li>
        <li class="nav__item"><a class="nav__link link--gradient link--border-hover" asp-controller="Home" asp-action="Index" asp-fragment="contact">Kontakt</a></li>
    </ul>
</nav>
